<div class="card shadow-sm mb-4 recipe-card">
    <div class="card-body">
        <h2 class="card-title">{{ recipe?.name }}</h2>
        <h3 class="text-secondary mt-4">Ingredientes</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let ingredient of recipe?.ingredients">
                {{ ingredient }}
            </li>
        </ul>
        <h3 class="text-secondary mt-4">Modo de Preparo</h3>
        <p class="card-text">{{ recipe?.preparation_method }}</p>
    </div>
</div>